In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

%matplotlib inline

In [15]:
hotness=pd.read_csv('data/RDC_Inventory_Hotness_Metrics_Metro_History .csv',nrows=24000)
hotness

,month_date_yyyymm,cbsa_code,cbsa_title,nielsen_hh_rank,hotness_rank,hotness_rank_mm,hotness_rank_yy,hotness_score,supply_score,demand_score,...,median_dom_yy_day,median_dom_vs_us,ldp_unique_viewers_per_property_mm,ldp_unique_viewers_per_property_yy,ldp_unique_viewers_per_property_vs_us,median_listing_price,median_listing_price_mm,median_listing_price_yy,median_listing_price_vs_us,quality_flag
0,202403,31700,"Manchester-Nashua, NH",122,1,0.0,-1.0,100.000000,100.000000,100.000000,...,-9.25,-31.0,0.102765,0.062686,4.099419,549900.0,-0.038972,0.000000,1.294187,0
1,202403,40380,"Rochester, NY",49,2,0.0,0.0,98.829431,99.331104,98.327759,...,-2.00,-28.0,0.018741,-0.031800,3.215648,279900.0,0.119824,0.087413,0.658743,0
2,202403,44140,"Springfield, MA",84,3,-1.0,-5.0,98.494983,98.327759,98.662207,...,-8.25,-23.5,0.072130,0.080529,3.289446,350000.0,0.000000,0.012365,0.823723,0
3,202403,49340,"Worcester, MA-CT",58,4,1.0,-3.0,98.327759,98.996656,97.658863,...,-7.50,-27.0,0.009201,-0.053478,2.870681,499999.0,0.001300,0.014197,1.176745,0
4,202403,18180,"Concord, NH",277,5,-4.0,0.0,97.324415,95.652174,98.996656,...,-5.50,-21.0,-0.025968,-0.160130,3.414720,569950.0,0.036461,0.117659,1.341374,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23995,201708,15180,"Brownsville-Harlingen, TX",152,296,NaN,NaN,4.347826,0.334448,8.361204,...,-6.50,41.5,NaN,NaN,0.612154,204499.5,-0.026193,0.026346,0.743635,0
23996,201708,17980,"Columbus, GA-AL",164,297,NaN,NaN,4.180602,6.688963,1.672241,...,4.00,25.0,NaN,NaN,0.452907,155000.0,0.000000,0.007802,0.563636,0
23997,201708,34940,"Naples-Marco Island, FL",123,298,NaN,NaN,2.675585,0.000000,5.351171,...,-4.00,47.0,NaN,NaN,0.550224,469997.5,-0.010323,-0.071192,1.709082,0
23998,201708,20020,"Dothan, AL",271,299,NaN,NaN,2.341137,2.341137,2.341137,...,3.25,31.0,NaN,NaN,0.469865,159000.0,0.012739,0.060707,0.578182,0
23999,201708,26380,"Houma-Thibodaux, LA",232,300,NaN,NaN,0.836120,0.668896,1.003344,...,1.50,36.0,NaN,NaN,0.448726,179900.0,0.000834,0.023613,0.654182,0

In [16]:
hotness.columns

Index(['month_date_yyyymm', 'cbsa_code', 'cbsa_title', 'nielsen_hh_rank',
       'hotness_rank', 'hotness_rank_mm', 'hotness_rank_yy', 'hotness_score',
       'supply_score', 'demand_score', 'median_days_on_market',
       'median_days_on_market_mm', 'median_dom_mm_day',
       'median_days_on_market_yy', 'median_dom_yy_day', 'median_dom_vs_us',
       'ldp_unique_viewers_per_property_mm',
       'ldp_unique_viewers_per_property_yy',
       'ldp_unique_viewers_per_property_vs_us', 'median_listing_price',
       'median_listing_price_mm', 'median_listing_price_yy',
       'median_listing_price_vs_us', 'quality_flag'],
      dtype='object')

In [17]:
hotness_df=hotness[['month_date_yyyymm', 'cbsa_code', 'cbsa_title','nielsen_hh_rank',
       'hotness_rank', 'hotness_score',
       'supply_score', 'demand_score', 'median_days_on_market',
       'median_days_on_market_mm', 'median_dom_mm_day',
       'median_days_on_market_yy', 'median_dom_yy_day', 'median_listing_price',
       'median_listing_price_mm', 'median_listing_price_yy']]

In [58]:
hotness_df['month_date_yyyymm']=pd.to_datetime(hotness_df['month_date_yyyymm'],format='%Y%m')
hotness_df

C:\Users\Hema Sri Anish\AppData\Local\Temp\ipykernel_18980\1225009803.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotness_df['month_date_yyyymm']=pd.to_datetime(hotness_df['month_date_yyyymm'],format='%Y%m')

,month_date_yyyymm,cbsa_code,cbsa_title,nielsen_hh_rank,hotness_rank,hotness_score,supply_score,demand_score,median_days_on_market,median_days_on_market_mm,median_dom_mm_day,median_days_on_market_yy,median_dom_yy_day,median_listing_price,median_listing_price_mm,median_listing_price_yy,state_id,year
0,2024-03-01,31700,"Manchester-Nashua, NH",122,1,100.000000,100.000000,100.000000,19.0,-0.173913,-4.00,-0.327434,-9.25,549900.0,-0.038972,0.000000,NH,2024
1,2024-03-01,40380,"Rochester, NY",49,2,98.829431,99.331104,98.327759,22.0,-0.063830,-1.50,-0.083333,-2.00,279900.0,0.119824,0.087413,NY,2024
2,2024-03-01,44140,"Springfield, MA",84,3,98.494983,98.327759,98.662207,26.5,-0.307190,-11.75,-0.237410,-8.25,350000.0,0.000000,0.012365,MA,2024
3,2024-03-01,49340,"Worcester, MA-CT",58,4,98.327759,98.996656,97.658863,23.0,-0.233333,-7.00,-0.245902,-7.50,499999.0,0.001300,0.014197,CT,2024
4,2024-03-01,18180,"Concord, NH",277,5,97.324415,95.652174,98.996656,29.0,-0.305389,-12.75,-0.159420,-5.50,569950.0,0.036461,0.117659,NH,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23995,2017-08-01,15180,"Brownsville-Harlingen, TX",152,296,4.347826,0.334448,8.361204,102.0,0.030303,3.00,-0.059908,-6.50,204499.5,-0.026193,0.026346,TX,2017
23996,2017-08-01,17980,"Columbus, GA-AL",164,297,4.180602,6.688963,1.672241,85.5,0.036364,3.00,0.049080,4.00,155000.0,0.000000,0.007802,AL,2017
23997,2017-08-01,34940,"Naples-Marco Island, FL",123,298,2.675585,0.000000,5.351171,107.5,0.043689,4.50,-0.035874,-4.00,469997.5,-0.010323,-0.071192,FL,2017
23998,2017-08-01,20020,"Dothan, AL",271,299,2.341137,2.341137,2.341137,91.5,0.000000,0.00,0.036827,3.25,159000.0,0.012739,0.060707,AL,2017
23999,2017-08-01,26380,"Houma-Thibodaux, LA",232,300,0.836120,0.668896,1.003344,96.5,-0.025253,-2.50,0.015789,1.50,179900.0,0.000834,0.023613,LA,2017

In [59]:
hotness_df['year']=hotness_df['month_date_yyyymm'].dt.year
hotness_df

C:\Users\Hema Sri Anish\AppData\Local\Temp\ipykernel_18980\3345664879.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotness_df['year']=hotness_df['month_date_yyyymm'].dt.year

,month_date_yyyymm,cbsa_code,cbsa_title,nielsen_hh_rank,hotness_rank,hotness_score,supply_score,demand_score,median_days_on_market,median_days_on_market_mm,median_dom_mm_day,median_days_on_market_yy,median_dom_yy_day,median_listing_price,median_listing_price_mm,median_listing_price_yy,state_id,year
0,2024-03-01,31700,"Manchester-Nashua, NH",122,1,100.000000,100.000000,100.000000,19.0,-0.173913,-4.00,-0.327434,-9.25,549900.0,-0.038972,0.000000,NH,2024
1,2024-03-01,40380,"Rochester, NY",49,2,98.829431,99.331104,98.327759,22.0,-0.063830,-1.50,-0.083333,-2.00,279900.0,0.119824,0.087413,NY,2024
2,2024-03-01,44140,"Springfield, MA",84,3,98.494983,98.327759,98.662207,26.5,-0.307190,-11.75,-0.237410,-8.25,350000.0,0.000000,0.012365,MA,2024
3,2024-03-01,49340,"Worcester, MA-CT",58,4,98.327759,98.996656,97.658863,23.0,-0.233333,-7.00,-0.245902,-7.50,499999.0,0.001300,0.014197,CT,2024
4,2024-03-01,18180,"Concord, NH",277,5,97.324415,95.652174,98.996656,29.0,-0.305389,-12.75,-0.159420,-5.50,569950.0,0.036461,0.117659,NH,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23995,2017-08-01,15180,"Brownsville-Harlingen, TX",152,296,4.347826,0.334448,8.361204,102.0,0.030303,3.00,-0.059908,-6.50,204499.5,-0.026193,0.026346,TX,2017
23996,2017-08-01,17980,"Columbus, GA-AL",164,297,4.180602,6.688963,1.672241,85.5,0.036364,3.00,0.049080,4.00,155000.0,0.000000,0.007802,AL,2017
23997,2017-08-01,34940,"Naples-Marco Island, FL",123,298,2.675585,0.000000,5.351171,107.5,0.043689,4.50,-0.035874,-4.00,469997.5,-0.010323,-0.071192,FL,2017
23998,2017-08-01,20020,"Dothan, AL",271,299,2.341137,2.341137,2.341137,91.5,0.000000,0.00,0.036827,3.25,159000.0,0.012739,0.060707,AL,2017
23999,2017-08-01,26380,"Houma-Thibodaux, LA",232,300,0.836120,0.668896,1.003344,96.5,-0.025253,-2.50,0.015789,1.50,179900.0,0.000834,0.023613,LA,2017

In [60]:
hotness_df['state_id']=hotness_df['cbsa_title'].str[-2:]
hotness_df

C:\Users\Hema Sri Anish\AppData\Local\Temp\ipykernel_18980\2501741367.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotness_df['state_id']=hotness_df['cbsa_title'].str[-2:]

,month_date_yyyymm,cbsa_code,cbsa_title,nielsen_hh_rank,hotness_rank,hotness_score,supply_score,demand_score,median_days_on_market,median_days_on_market_mm,median_dom_mm_day,median_days_on_market_yy,median_dom_yy_day,median_listing_price,median_listing_price_mm,median_listing_price_yy,state_id,year
0,2024-03-01,31700,"Manchester-Nashua, NH",122,1,100.000000,100.000000,100.000000,19.0,-0.173913,-4.00,-0.327434,-9.25,549900.0,-0.038972,0.000000,NH,2024
1,2024-03-01,40380,"Rochester, NY",49,2,98.829431,99.331104,98.327759,22.0,-0.063830,-1.50,-0.083333,-2.00,279900.0,0.119824,0.087413,NY,2024
2,2024-03-01,44140,"Springfield, MA",84,3,98.494983,98.327759,98.662207,26.5,-0.307190,-11.75,-0.237410,-8.25,350000.0,0.000000,0.012365,MA,2024
3,2024-03-01,49340,"Worcester, MA-CT",58,4,98.327759,98.996656,97.658863,23.0,-0.233333,-7.00,-0.245902,-7.50,499999.0,0.001300,0.014197,CT,2024
4,2024-03-01,18180,"Concord, NH",277,5,97.324415,95.652174,98.996656,29.0,-0.305389,-12.75,-0.159420,-5.50,569950.0,0.036461,0.117659,NH,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23995,2017-08-01,15180,"Brownsville-Harlingen, TX",152,296,4.347826,0.334448,8.361204,102.0,0.030303,3.00,-0.059908,-6.50,204499.5,-0.026193,0.026346,TX,2017
23996,2017-08-01,17980,"Columbus, GA-AL",164,297,4.180602,6.688963,1.672241,85.5,0.036364,3.00,0.049080,4.00,155000.0,0.000000,0.007802,AL,2017
23997,2017-08-01,34940,"Naples-Marco Island, FL",123,298,2.675585,0.000000,5.351171,107.5,0.043689,4.50,-0.035874,-4.00,469997.5,-0.010323,-0.071192,FL,2017
23998,2017-08-01,20020,"Dothan, AL",271,299,2.341137,2.341137,2.341137,91.5,0.000000,0.00,0.036827,3.25,159000.0,0.012739,0.060707,AL,2017
23999,2017-08-01,26380,"Houma-Thibodaux, LA",232,300,0.836120,0.668896,1.003344,96.5,-0.025253,-2.50,0.015789,1.50,179900.0,0.000834,0.023613,LA,2017

In [61]:
sales_hotness_rank=hotness_df.groupby(['state_id','year'])['hotness_rank'].mean().reset_index()
sales_hotness_rank

    state_id  year  hotness_rank
0         AK  2017    240.200000
1         AK  2018    246.166667
2         AK  2019    254.666667
3         AK  2020    225.416667
4         AK  2021    219.250000
..       ...   ...           ...
371       WV  2020    187.333333
372       WV  2021    215.583333
373       WV  2022    186.683333
374       WV  2023    139.200000
375       WV  2024     99.533333

[376 rows x 3 columns]

In [53]:
mortgage=pd.read_csv('data/MORTGAGE30US.csv')

In [62]:
mortgage['DATE']=pd.to_datetime(mortgage['DATE'])

In [63]:
mortgage['year']=mortgage['DATE'].dt.year

In [64]:
mortgage

          DATE  MORTGAGE30US  year
0   2017-01-05          4.20  2017
1   2017-01-12          4.12  2017
2   2017-01-19          4.09  2017
3   2017-01-26          4.19  2017
4   2017-02-02          4.19  2017
..         ...           ...   ...
375 2024-03-14          6.74  2024
376 2024-03-21          6.87  2024
377 2024-03-28          6.79  2024
378 2024-04-04          6.82  2024
379 2024-04-11          6.88  2024

[380 rows x 3 columns]

In [65]:
hotness_mortgage=pd.merge(hotness,mortgage,on=['year'],how='inner')
hotness_mortgage

KeyError: 'year'

In [48]:
new_df=hotness_mortgage[['state_id','year','hotness_rank','hotness_score','median_listing_price','median_days_on_market','MORTGAGE30US']]

NameError: name 'hotness_mortgage' is not defined

In [ ]:
new_df[['hotness_score','median_days_on-market','median_listing_price']].corr()

In [ ]:
correlation_hotness_days_market =new_df['hotness_score'].corr(new_df['median_days_on_market'])

In [ ]:
correlation_hotness_days_market

correlation_hotness_mortgage = new_df['hotness_score'].corr(new_df['MORTGAGE30US'])
correlation_hotness_mortgage

correlation_days_market_mortgage = new_df['median_days_on_market'].corr(new_df['MORTGAGE30US'])
correlation_days_market_mortgage

In [ ]:
correlation_hotness_price = new_df['hotness_score'].corr(new_df['median_listing_price'])
correlation_hotness_price